<p id="notice"><%= notice %></p>

<H2 style="font-weight: bold">
  <%= @wiki.title %>
</H2>

<<<<<<< HEAD
<p style="font-size:1.1em">
  <%= @wiki.display_body %>
=======
<p>
  <strong>Body:</strong>
  <%= qiita_markdown(@wiki.display_body) %>
>>>>>>> markdown
</p>

<td><%= link_to 'Edit', "#{@wiki.link}/edit", class: "btn btn-primary", style: "color: white"%></td> |
<%= link_to 'Back', wikis_path, class: "btn btn-primary", style: "color: white" %>
