<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= qiita_markdown(@wiki.display_body) %>
</p>

<td><%= link_to 'Edit', "#{@wiki.link}/edit" %></td> |
<%= link_to 'Back', wikis_path %>
