<p id="notice"><%= notice %></p>

<H2 style="font-weight: bold">
  <%= @wiki.title %>
</H2>

<p style="font-size:1.1em">
  <%= @wiki.display_body %>
</p>

<td><%= link_to 'Edit', "#{@wiki.link}/edit", class: "btn btn-primary", style: "color: white"%></td> |
<%= link_to 'Back', wikis_path, class: "btn btn-primary", style: "color: white" %>
